<div class="text-center">
	<form method="GET" action="/lookup">
		<div>
	    	<button type="submit" class="btn btn-warning">
	    		<span class="fa fa-user-plus">
	    		</span>
	    		This is my first time here
	    	</button>
	    </div>
	</form>
</div>
