<div class="text-center">
	<form method="GET" action="/attendance">
		<div>
	    	<button type="submit" class="btn btn-primary">
	    		<span class="fa fa-user-plus">
	    		</span>
	    		Sign in
	    	</button>
	    </div>
	</form>
</div>
