<p class="pad-left-10">Thanks for creating an account!</p>
<p class="pad-left-10">Would you like to sign in to tonights meeting?</p>
<form method="GET" action="/attendance">
	<div class="form-group hidden">
		<div class="col-sm-7">
			<input type="text" name="userId" id="userId" value={{id}} placeholder="12" class="form-control">
		</div>
	</div>
	<button class="btn btn-primary org-btn">Sign in</button>
</form>
