<h1 class="text-center">Swipe Yo Card</h1>
<form method="POST">
	<div class="form-group">
		<label for="card" class="col-sm-3 control-label">Card:</label>
		<div class="col-sm-7">
			<input type="text" name="card" id="card" placeholder="cardcardcardcardcardcard" class="form-control">
		</div>
	</div>
	<div class="col-sm-offset-3 col-sm-7">
    	<button type="submit" class="btn btn-success">
    		<span class="fa fa-user-plus">
    		</span>
    		Sign in
    	</button>
    </div>
</form>
