<h1 class="text-center">Sign In!</h1>
<form method="POST" onsubmit="return validateCard()">
	<div class="form-group">
		<label for="card" class="col-sm-3 control-label">Card:</label>
		<div class="col-sm-7">
			<input type="text" name="card" id="card" placeholder="cardcardcardcardcardcard" class="form-control" autofocus>
		</div>
	</div>
	<div class="col-sm-offset-3 col-sm-7">
    	<button type="submit" class="btn btn-success">
    		<span class="fa fa-user-plus">
    		</span>
    		Sign in
    	</button>
    </div>
</form>

<script>
	function validateCard() {
		var card = $('#card').val();

		if(card === '') {
			console.log('no card');
			return false;
		// } else if(card.length < 8) {
		// 	alert('Please swipe your card again');
		// 	return false;
		} else {
			return true;
		}
	}
</script>
