
<form method="POST" >
	<div class="form-group">
		<label for="fname" class="col-sm-3 control-label">First Name:</label>
		<div class="col-sm-7">
			<input type="text" name="fname" id="fname" placeholder="Luke" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="lname" class="col-sm-3 control-label">Last Name:</label>
		<div class="col-sm-7">
			<input type="text" name="lname" id="lname" placeholder="Skywalker" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-3 control-label">UC Email:</label>
		<div class="col-sm-7">
			<input type="text" name="email" id="email" placeholder="skywalla@mail.uc.edu" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="college" class="col-sm-3 control-label">College:</label>
		<div class="col-sm-7">
			<input type="text" name="college" id="college" placeholder="CEAS" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="major" class="col-sm-3 control-label">Major:</label>
		<div class="col-sm-7">
			<input type="text" name="major" id="major" placeholder="Computer Science" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="gradYear" class="col-sm-3 control-label">Graduation Year:</label>
		<div class="col-sm-7">
			<input type="text" name="gradYear" id="gradYear" placeholder="1998" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label for="card" class="col-sm-3 control-label">Swipe Card:</label>
		<div class="col-sm-7">
			<input type="text" name="card" id="card" placeholder="asdfghjkl;" class="form-control">
		</div>
	</div>
	<div class="col-sm-offset-3 col-sm-7">
    	<button type="submit" class="btn btn-success">
    		<span class="fa fa-user-plus">
    		</span>
    		Signup
    	</button>
    </div>
<form>
