<h1 class="text-center">Hello Hacker</h1>
<form class="text-center" method="GET" action="/lookup">
	<div>
    	<button type="submit" class="btn btn-warning">
    		<span class="fa fa-user-plus">
    		</span>
    		This is my first time here
    	</button>
    </div>
</form>
<form class="text-center" method="GET" action="/attendance">
	<div>
    	<button type="submit" class="btn btn-primary">
    		<span class="fa fa-user-plus">
    		</span>
    		Sign in
    	</button>
    </div>
</form>
