<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <style type="text/css">
      body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

form div {
  padding-top: 10px;
}

.pad-left-10 {
  padding-left: 20px;
  padding-top: 10px;
}

.pad-left-11 {
  padding-left: 20px;
}

.org-btn {
  margin-top: 15px;
}

.hidden {
  visibility: hidden;
}

.style-0 {
  background-color: #ee5c5c;
}

.style-1 {
  background-color: #8ef085;
}

.landing {
  list-style: none;
}
    </style>
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/spinner.css" type="text/css">
  </head>
  <body>
  	{{>header}}
    <div class="body">
      {{{body}}}
    </div>
  </body>
</html>
