<h1 class="text-center">Look yourself up!</h1>
<form method="POST" onsubmit="return validateMnumber()">
	<div class="form-group">
		<label for="card" class="col-sm-3 control-label">M Number:</label>
		<div class="col-sm-7">
			<input type="text" name="mnumber" id="mnumber" placeholder="M1234567890" class="form-control" autofocus>
		</div>
	</div>
	<div class="col-sm-offset-3 col-sm-7">
    	<button type="submit" class="btn btn-success">
    		<span class="fa fa-user-plus">
    		</span>
    		Lookup
    	</button>
    </div>
</form>

<script>
	function validateMnumber() {
		var mnumber = $('#mnumber').val();

		if(mnumber === '') {
			return false;
		} else {
			return true;
		}
	}
</script>
