<form method="POST">
	<div class="form-group">
		<label for="date" class="col-sm-3 control-label">Date:</label>
		<div class="col-sm-7">
			<input type="date" name="date" id="date" class="form-control">
		</div>
	</div>
	<div class="col-sm-offset-3 col-sm-7">
    	<button type="submit" class="btn btn-success">
    		<span class="fa fa-user-plus">
    		</span>
    		Create Meeting
    	</button>
    </div>
<form>
