{{#if error}}
	<h1 class="text-center">You don't seem to have an account :(</h1>
{{else}}
	<h1 class="text-center">Thanks for signing in!</h1>
{{/if}}
	<ul class="landing text-center">
		<li>
			<form method="GET" action="/lookup">
				<div>
			    	<button type="submit" class="btn btn-warning">
			    		<span class="fa fa-user-plus">
			    		</span>
			    		Create an account
			    	</button>
			    </div>
			</form>
		</li>
{{!		<li>
			<form method="GET" action="/attendance">
				<div>
			    	<button type="submit" class="btn btn-primary">
			    		<span class="fa fa-user-plus">
			    		</span>
			    		Sign in
			    	</button>
			    </div>
			</form>
		</li>
	</ul>
}}
</ul>
