{{#if meetingError}}
	{{#if meetingError.noMeeting}}
		<h2 class="text-center">There's no meeting today you scurvy curr!</h2>
		{{>create-account-button}}
	{{/if}}
	{{#if meetingError.alreadySignedIn}}
		<h2 class="text-center">You already signed in!!</h2>
		{{>create-account-button}}
		{{>signin-button}}
	{{/if}}
	{{#if meetingError.noAccount}}
		<h2 class="text-center">You need to create an account</h2>
		{{>create-account-button}}
		{{>signin-button}}
	{{/if}}
{{else}}
	<h2 class="text-center">Thanks for signing in!</h2>
	{{>create-account-button}}
	{{>signin-button}}
{{/if}}
