{{#if accountexists}}
	<h2 class="text-center">You already have an account! Would you like to sign in?</h2>
	<form class="text-center" method="GET" action="/attendance">
		<div>
	    	<button type="submit" class="btn btn-primary">
	    		<span class="fa fa-user-plus">
	    		</span>
	    		Sign in
	    	</button>
	    </div>
	</form>
{{else}}
	<h2 class="text-center">Thanks for signing up!</h2>
	{{>create-account-button}}
	{{>signin-button}}
{{/if}}
