<h1 class="text-center">Add Door User</h1>
<form method="POST">
	<div class="form-group">
		<label for="sha" class="col-sm-3 control-label">SHA1 Value</label>
		<div class="col-sm-7">
			<input type="text" name="sha" id="sha" placeholder="shashashashashashashashashasha" class="form-control" autofocus>
		</div>
		<label for="user" class="col-sm-3 control-label">User</label>
		<div class="col-sm-7">
			<select name="user">
				{{#each users}}
					<option value={{this.membersKey}}>{{this.firstName}} {{this.lastName}}</option>
				{{/each}}
			</select>
		</div>
	</div>
	<div class="col-sm-offset-3 col-sm-7">
    	<button type="submit" class="btn btn-success">
    		<span class="fa fa-user-plus">
    		</span>
    		Add
    	</button>
    </div>
</form>
<div id="loading" class="spinner-loader" style="visibility: hidden;">
  Loading…
</div>
