{{#each this}}
	{{#if timestamp}}
		<div class="well style-{{wasOpened}}">
			<table>
				<tr>
					<td>{{doorAccessKey}}</td>
					<td class="pad-left-11">{{timestamp}}</td>
				</tr>
			</table>
		</div>
	{{/if}}
{{else}}
	No logs to show!
{{/each}}
